@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Taina Tech Test</h2>
    <p class="lead">Sample ASP.NET MVC 5 web app</p>
    <p><a href="~/Persons/ListAll" class="btn btn-primary btn-lg">List All Persons</a></p>
</div>